.homeImage {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.carouselSize {
  height: fit-content;
}
.carouselInfo {
  background-color: rgba(197, 236, 138, 0.63);
}

/* .Main-home-div {
  background-image: url("./Images/ntcywUtfIcq3_gMOJk_tQh3Ior3oFARLga_64nlBUfs.png");
} */

.linkColorClass {
  color: black;
}

.quoteColorClass {
  color: rgb(0, 0, 0);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  .carousel {
    position: absolute;
  }
  .quoteColorClass {
    font-size: 10px;
  }
  .w-100 {
    height: max-content;
  }

  /* .carouselInfo {
    background-color: rgba(227, 247, 197, 0.63);
  } */
}
