.Header-container {
  position: relative;
}

.headerImage {
  width: 550px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.jumbotron {
  color: #ffffff;
  background-color: #ffffff !important;
  padding-bottom: 0 !important;
  height: 200px !important;
}
