.heading-color {
  color: black;
}
.text-color {
  color: black;
}
.header-background {
  background-color: greenyellow;
  border-radius: 15px;
  margin-top: 20px;
  padding-top: 5px;
}
/* .head-background {
      background-color: greenyellow;
} */
.background-image {
  background-image: url("/src/components/Search/images/ntcywUtfIcq3_gMOJk_tQh3Ior3oFARLga_64nlBUfs.png");
  background-size: cover;
  height: 600px;
  width: 600px;
}
