body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navigationClass {
  text-align: center;
}

.headerClass {
  text-align: center;
}

.headerImage {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron {
  color: #ffffff;
  background-color: transparent !important;
}

.homeImage {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
